<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chapter04">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Self0402" android:exported="true"/>
        <activity android:name=".Self0403" android:exported="true"/>
        <activity android:name=".Self0404" android:exported="true"/>
        <activity android:name=".Exer0407" android:exported="true"/>
        <activity android:name=".Exer0408" android:exported="true"/>
        <activity android:name=".Exer0409" android:exported="true"/>
        <activity android:name=".Self0402_org" android:exported="true"/>
        <activity android:name=".Self0403_org" android:exported="true"/>
        <activity android:name=".Self0404_org" android:exported="true"/>
        <activity android:name=".Exer0407_org" android:exported="true"/>
        <activity android:name=".Exer0408_org" android:exported="true"/>
        <activity android:name=".Exer0409_org" android:exported="true"/>
    </application>

</manifest>